<p>ordered-dashboard works!</p>

<div class="container">
    <mat-accordion>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Sr.No
                </mat-panel-title>
                <mat-panel-title>
                    Transaction ID
                </mat-panel-title>
                <mat-panel-title>
                    Ordered ID
                </mat-panel-title>
                <mat-panel-title>
                    Ordered Date
                </mat-panel-title>
                <mat-panel-title>
                    Payment Status
                </mat-panel-title>
                <!-- <mat-panel-description>
              This is a summary of the content
              //enter transaction id here.........................
            </mat-panel-description> -->
            </mat-expansion-panel-header>
            <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>
        <!-- call list -->
        <mat-expansion-panel hideToggle *ngFor="let item of orderedList; last as isLast; let i=index">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{i+1}}
                </mat-panel-title>
                <mat-panel-title>
                    <!-- Transaction ID -->
                    {{item[0].id}}
                </mat-panel-title>
                <mat-panel-title>
                    <!-- Ordered ID -->
                    {{ getLastValue(item) }}

                </mat-panel-title>
                <mat-panel-title>
                    <!-- Date -->
                    {{item[0].create_time | date }}
                </mat-panel-title>
                <mat-panel-title>
                    <!-- Date -->
                    {{item[0].status }}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="orderedDetails">
                <div class="details">
                    <p>Transaction ID:{{item[0].id}}</p>


                    <p>Ordered ID: {{ getLastValue(item) }}</p>




                    <p>Ordered Date: {{item[0].create_time | date }}</p>
                    <p>Payment Status: <span [style.color]="item[0].status === 'COMPLETED' ? 'green' : 'black'"
                            *ngIf="item[0].status === 'COMPLETED'">
                            {{ item[0].status }}
                        </span></p>

                </div>
                <h2>
                    <hr>
                </h2>
                <div class="shippingDetails">
                    <h2>Shipping Address</h2>
                    <table class="shipping-details-table">
                        <tr>
                            <td>Name:</td>
                            <td>{{ item[0].purchase_units[0].shipping.name.full_name | uppercase }}</td>
                        </tr>
                        <tr>
                            <td>Address:</td>
                            <td>{{ item[0].purchase_units[0].shipping.address.address_line_1 }}, {{
                                item[0].purchase_units[0].shipping.address.admin_area_2 }}, {{
                                item[0].purchase_units[0].shipping.address.admin_area_1 }} - {{
                                item[0].purchase_units[0].shipping.address.postal_code }}</td>
                        </tr>
                        <tr>
                            <td>Country:</td>
                            <td>{{ item[0].purchase_units[0].shipping.address.country_code }}</td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td>{{ item[0].payer.email_address }}</td>
                        </tr>
                    </table>

                </div>
                <h2>
                    <hr>
                </h2>
                <div class="payerDetails">
                    <h2>Payment Details</h2>
                    <table class="payment-details-table">
                        <tr>
                            <td>Payment ID:</td>
                            <td>{{ item[0]?.purchase_units[0]?.payments?.captures[0]?.id }}</td>
                        </tr>
                        <tr>
                            <td>Payer ID:</td>
                            <td>{{ item[0].payer.payer_id }}</td>
                        </tr>
                        <tr>
                            <td>Payment Amount:</td>
                            <td><span
                                    [style.font-size]="item[0]?.purchase_units[0]?.payments?.captures[0]?.amount?.value !== null ? '20px' : ''">{{
                                    item[0]?.purchase_units[0]?.payments?.captures[0]?.amount?.value }}</span></td>
                        </tr>
                        <tr>
                            <td>Payment Currency:</td>
                            <td>{{ item[0]?.purchase_units[0]?.payments?.captures[0]?.amount?.currency_code }}</td>
                        </tr>
                    </table>

                </div>
                <h2>
                    <hr>
                </h2>
                <div class="productDetails">
                    <h2>Product Details</h2>

                    <table>
                        <thead>
                            <tr>
                                <th>Sr.No</th>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <th>Product ID</th>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <th>Product Name</th>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <th>Price</th>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <th>Discounts</th>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <th>Features</th>
                                &nbsp;
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of getProductDetails(item); let j=index">
                                <td>{{j+1}}</td>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <td>{{ product.productID }}</td>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <td>{{ product.productName }}</td>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <td>{{ product.price }}</td>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <td>{{ product.discounts }}</td>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <td>{{ product.features }}</td>
                            </tr>
                        </tbody>
                    </table>





                </div>
                <p></p>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>