.container {
    margin: 0;
    padding: 0;
    max-height: auto;
    background-color: #E8F8F5;
}

.loginform {
    display: flex;
    justify-content: center;
    height: 550px;

}

.leftimg {
    background: url(https://t3.ftcdn.net/jpg/02/71/77/56/360_F_271775672_yo8ZgraN2IHGbfqP2k0PsLjwvmatUNUJ.jpg);
    background-size: contain;
    width: 70%;
    
}

.loginform1 {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    align-items: center;
}

input,
button {
    height: 40px;
    margin: 12px;
    font-size: 15px;
    padding-left: 15px;
    border-radius: 20px;
    border: 1px solid;
    width: 80%;

}

button {
    background-color: #025c4a;
    color: white;
    cursor: pointer;

}

button:hover {
    background-color: #025c4aa8;
}