<p>forgot-password works!</p>
<div class="container">
    <div class="forgotPasswordform" >
        <div class="leftimg"></div>

        <div class="forgotPasswordform1">
            <h1 style="color: #003f32;font-size: 28px;font-family:Arial, Helvetica, sans-serif;">Forgot Password</h1>
            <input type="email" placeholder="email" [(ngModel)]="emailValue" />
            <input type="password" placeholder="Enter new password" [(ngModel)]="newpassword" />
            <input type="password" placeholder="Confirm password" [(ngModel)]="confirmpassword" />
        
            <button (click)="forgotPassword()" type="submit">Submit</button>
            
            <div></div>

        
        </div>
    </div>
</div>
